
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: hsl(50, 23%, 95%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: coral;
    padding: 20px 0;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    background-color: coral;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.search-form button:hover {
    background-color: #adb0ad;
}

.main-content {
    padding: 20px 0;
}

.section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(243, 240, 181, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo-card {
    width: 270px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.photo-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.photo-card .info {
    padding: 10px;
    text-align: center;
}

.photo-card .info-item {
    font-size: 14px;
    margin-bottom: 8px;
}

.photo-card .info-item b {
    font-weight: bold;
}

.photo-card .info-number {
    font-size: 12px;
    color: #666;
}

.lightbox {
    color: black;
    text-decoration: none;
}

/* Responsive adjustments
@media (max-width: 768px) {
    .search-form input[type="text"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    } */

    /* .search-form button {
        width: 100%;
    }

    .gallery {
        padding: 10px;
    }

    .photo-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .photo-card {
        width: 100%;
    }
} */
